* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #a9a9a9;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #c8c8c8;
  font-family: "Poppins", sans-serif;
}
.nav-links {
  display: flex;
  justify-content: space-around;
}
.nav-links a {
  color: black;
  text-decoration: none;
}
nav li {
  list-style: none;
  margin: 20px;
  font-size: 15px;
}

.burguer {
  display: none;
}
.burguer div {
  width: 20px;
  height: 1px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 675px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    width: 70%;
    background-color: #c8c8c8;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burguer {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-3px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-3px, -6px);
}
